{% extends 'base.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
    <section id="about-intro">
        <h1>О нас</h1>
        <p>Наша компания предоставляет инновационные решения уже более десяти лет, помогая клиентам достигать успеха в разных отраслях.</p>
    </section>

    <section id="our-team">
        <h2>Наша команда</h2>
        <div class="team-member">
            <h3>Иван Петров</h3>
            <p>Генеральный директор с 20-летним опытом.</p>
        </div>
        <div class="team-member">
            <h3>Мария Сидорова</h3>
            <p>Директор по маркетингу с инновационным подходом.</p>
        </div>
    </section>
{% endblock %}
